SOCIALITE_INSTANCE_NAME=Socialite
SOCIALITE_BASE_URL=http://gateway # Change when not in development
# JWT Secret Key (REQUIRED - generate with: openssl rand -base64 32)
JWT_SECRET_KEY=
# Copy this file and name it .env before application start
# DO NOT commit this to version control!
